@media screen and (max-width: 1133px) {
	.imageHeaderBig{
		display: none;
	}
}
@media screen and (min-width: 1133px) {
	.imageHeaderSmall{
		display: none;
	}
}
::-webkit-scrollbar {
	width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
	background:black;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(244,246,248,0.9);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: grey;
}
.imgTopic {
	width: 100%;
	transition: transform 0.4s ease;
    transform-origin: 50% 50%;
	border-radius: 8px;
}
.imgTopic:hover{
	transform: scale(1.05);
    width: 100%;
	border: 3px solid red;
}
.thumail_m-playlist-detail {
	height: 300px;
	width: 300px;
	border-radius: 8px;
}
@media screen and (max-width: 1200px){
	.thumail_m-playlist-detail {
		height: 200px;
		width: 200px
	}
}
.list-img-streaming{
	border: 3px solid red;
}
